# DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # existing files or folders
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.* - [L]    

    # the rest is for Zibo
    RewriteRule ^(.*)$ index.php [NE,L,QSA]
</IfModule>
